h1 a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 151px;
  height: 40px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/e14818f156111b5b0a00492903c1552d319ec9c5/week5/logo-ANSWER.svg);
}

.text-link {
  color: $primary;
  display: block;
  &:hover {
    color: $primary;
    background-color: $gray-400;
  }
  &.active {
    color: $secondary;
    border-left: 4px solid $secondary;
  }
}
.admin {
  &__image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__email {
    font-size: 14px;
  }
}
