/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #212529; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.container {
  width: 1280px;
  margin: 0 auto; }

.main {
  width: 984px; }

.sidebar {
  width: 296px; }

.text-primary {
  color: #212529 !important; }

.text-secondary {
  color: #198754 !important; }

.text-gray-light {
  color: #ced4da; }

.text-gray-dark {
  color: #6c757d; }

.bg-light {
  background-color: #f8f9fa; }

.bg-gray {
  background-color: #ced4da; }

.p-6 {
  padding: 32px; }

.py-6 {
  padding-top: 32px;
  padding-bottom: 32px; }

.px-6 {
  padding-right: 32px;
  padding-left: 32px; }

.mb-6 {
  margin-bottom: 32px; }

h1 a {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 151px;
  height: 40px;
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/e14818f156111b5b0a00492903c1552d319ec9c5/week5/logo-ANSWER.svg); }

.text-link {
  color: #212529;
  display: block; }
  .text-link:hover {
    color: #212529;
    background-color: #ced4da; }
  .text-link.active {
    color: #198754;
    border-left: 4px solid #198754; }

.admin__image {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%; }

.admin__email {
  font-size: 14px; }

.navbar h2 {
  font-size: 24px; }

.navbar .icon:hover {
  color: #198754; }

.navbar .button-text:hover {
  color: #198754; }

table {
  width: 100%;
  border-collapse: collapse; }

.admin__table {
  width: 100%;
  border-collapse: collapse; }
  .admin__table .arrow {
    font-size: 18px;
    line-height: 24px; }
  .admin__table thead th {
    padding-bottom: 4.5px;
    padding-left: 0; }
  .admin__table thead tr {
    border-bottom: 1px solid #212529; }
  .admin__table tbody th {
    padding: 0; }
  .admin__table tbody td {
    padding: 18px 0; }
  .admin__table tbody tr {
    border-bottom: 1px solid #ced4da; }
    .admin__table tbody tr:hover {
      background-color: #f8f9fa; }

.AdminModal {
  padding: 32px; }
  .AdminModal .image {
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover; }
  .AdminModal h3 {
    font-size: 24px; }
  .AdminModal .email {
    font-size: 14px;
    color: #6c757d; }
  .AdminModal .verified {
    font-size: 14px; }
  .AdminModal .showing {
    height: 0px;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    overflow: hidden; }
    .AdminModal .showing.active {
      height: auto; }

.addAdminModal h3 {
  font-size: 24px; }

.addAdminModal h4 {
  font-size: 20px; }

.addAdminModal .btn-send {
  border: 1px solid #ced4da; }

.page-item .page-link {
  color: #198754;
  border: 1px solid #198754; }
  .page-item .page-link:hover {
    color: #fff;
    background: #198754; }

.page-item.active .page-link {
  color: #fff;
  background-color: #198754;
  border-color: #198754; }

/*# sourceMappingURL=all.css.map */
